@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --cor-primaria: #f6f6f6;
    --cor-secundaria: #2f2f2f;
    --cor-terciaria: #12B6C3;
    --font-principal:'Open Sans', Serif;
}

* {
    margin:0%;
    padding:0%;
}

body{
    /*height: 100vh;*/ 
    box-sizing: border-box;
    background-color: var(--cor-primaria); 
    color: var(--cor-secundaria);
    font-size: 1rem;
    font-family: var(--font-principal);
}
.headerclass{
    display: flex;
    justify-content: center;
}

.headerclass__menu{
    width: 75%;
    padding: 3% 0%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color: var(--cor-primaria);
    gap: 50px;
}

.headerclass__menu :hover{
    color: var(--cor-secundaria);
}

.headerclass__menu__link{
    display: flex;
    justify-content: start;
    align-items: center; 
    gap: 8%; 
}

.brandtopmenu{
    width: 15%;
}

.headerclass__menu__link__name{
    font-family: var(--font-principal);
    font-weight: 800;
    font-size: 1rem;
    color: var(--cor-terciaria);
    text-decoration: overline;
}

.flags{
    display: flex;
    justify-content: end;
    align-items: center;  
    gap: 15%;  
}

.flags__item{
    width: 3vw;;
}

/*SLIDER*/

.slider{
    margin: 0 auto;
    width: 74%;
    height: auto;
    padding: 0 !important;
    overflow-x: hidden !important;
}

.slider__content{
    position: relative;
    width: 500%;
    height: auto;
    display: flex;
    justify-content: center;
}

.slider__content input{
    display: none;
}

.slide__box__content{
    width: 20%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 6%;
    transition: 1s;
}

h1{
    color: var(--cor-secundaria); 
    font-size: 2.25rem;
    font-family:var(--font-principal);
    font-weight: 700;
    padding: 3% 0%;
}

.p__principal{
    color: var(--cor-secundaria); 
    font-size: 2.25rem;
    font-family:var(--font-principal);
    font-weight: 700;
    padding: 3% 0%;
}

.slide__box__content{
    margin: 3vw 0vw 1vw 0vw;
}

.slide__box__content__p{
    font-size: 1.2rem;
    font-family: var(--font-principal);
    padding: 1.5% 0%;
    line-height: 1.7rem;
}

.contrast{
    color: var(--cor-secundaria);
    font-weight: 700;
}

.mcvwork{
    width: 25vw;
    border-radius: 0px 30px 0px 30px;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid var(--cor-terciaria);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.nav-manual .manual-btn:hover{
    background-color: var(--cor-terciaria);
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3, #radio4:checked ~ .nav-auto .auto-btn4, #radio5:checked ~ .nav-auto .auto-btn5{
    background-color: var(--cor-terciaria);
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -40%;
}

#radio3:checked ~ .primeiro{
    margin-left: -80%;
}

#radio4:checked ~ .primeiro{
    margin-left: -120%;
}

#radio5:checked ~ .primeiro{
    margin-left: -160%;
}

/*SLIDER END*/

.presentation{
    padding: 5% 13%;
    margin: 5% 0% 0% 0%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 6%;
    background-image: url("https://carolinamirandasite.com/museumexperience/assets/backgimage.png");
    background-repeat: no-repeat;
    background-position: center;
    color: var(--cor-primaria);
}

.presentation__text{
    row-gap: 20px;
}

.h2{
    padding-bottom: 2%;
    color: var(--cor-terciaria);
    font-size: 1.9rem;
    font-family:var(--font-principal);
    font-weight: 700;
}

.presentation__text__p{
    font-size: 1.2rem;
    font-family: var(--font-principal);
    padding: 1.5% 0%;
    line-height: 1.7rem;
}

.presentation__video{
    padding: 15px 0px 15px 0px;
}

.video{
    width: 20vw;
}

.footerclass{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    padding: 30px;
}

/*4k*/
@media screen and (min-width: 2600px){
    .headerclass__menu{
        width: 70%;
        padding: 1.5% 0%;
        margin-bottom: 5%;
        gap: 0%;
    }
    .headerclass__menu__link{
        gap: 10%; 
    }
    .brandtopmenu{
        width: 5.5vw;
    }
    .headerclass__menu__link__name{
        font-size: 2.5rem;
    }
    .flags{  
        gap: 20%;  
    }
    .flags__item{
        width: 2.5vw;
    }
    /*SLIDER*/
    .slider{
        width: 70%;
    }
    .nav-manual .manual-btn, .nav-auto div{
        padding: 30px;
    }
    .slider__content h1{
        font-size: 6rem;
    }
    .p__principal{
        font-size: 6rem;
    }
    .slide__box__content{
        gap: 10%;
    }
    .slide__box__content__p{
        font-size: 2.7rem;
        line-height: 3.3rem;
    }
    .mcvwork{
        width: 50vw;
        border-radius: 0px 60px 0px 60px;
    }   
    /*SLIDER END*/
    .presentation{
        padding: 5% 15%;
    }
    .h2{
        font-size: 6rem;
    }
    .presentation__text__p{
        font-size: 2.7rem;
        line-height: 3.6rem;
    }
    .presentation__video{
        padding: 0px;
    }
    .video{
        width: 20vw;
    }
    .footerclass{
        font-size: 2rem;
        padding: 1.5% 0%;
    }
}
/*4k END*/

/*MOBILE TABLET*/
@media screen and (min-width: 768px) and (max-width: 1023px){
    /*SLIDER*/
    .slider__content{
        text-align: center;
    }
    .slide__box__content{
        height: auto;
        flex-direction: column;
        margin: 10vw 0vw 10vw 0vw;
        gap: 4%;
    }
    .mcvwork{
        width: 100%;
        padding-bottom: 30px;
    }
    /*SLIDER END*/
    .presentation{
        flex-direction: column-reverse;
        padding: 10% 15%;
        text-align: center;
    }
    .h2{
        font-size: 3rem;
        padding: 10% 0%;
    }
    .presentation__video{
        padding: 30px 0px;
    }
    .video{
        width: 70vw;
    }
}
/*MOBILE TABLET END*/

/*MOBILE CELPHONE*/
@media screen and (max-width: 768px){
    .headerclass__menu{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        padding: 0%;
        margin: 0%;
        gap: 3%;
    }
    .brandtopmenu{
        width: 20vw;
    }
    .headerclass__menu__link{
        text-align: center;
        justify-content: center;
        gap: 15%;
        padding: 6% 0% 10% 0%;
    }
    .headerclass__menu__link__name{
        width: 40%;
        font-size: 3.5vw;
    }
    .flags{
        width: 100%;
        padding: 3% 0%;
        background-color: #ebebeb;
        justify-content: center;
    }
    .flags__item{
        width: 7vw;
    }
    /*SLIDER*/
    .slider__content{
        text-align: center;
    }
    .slide__box__content{
        height: auto;
        flex-direction: column;
        margin: 10vw 0vw 10vw 0vw;
        gap: 4%;
    }
    .mcvwork{
        width: 100%;
        padding-bottom: 30px;
    }
    /*SLIDER END*/
    .presentation{
        flex-direction: column-reverse;
        padding: 10% 15%;
        text-align: center;
    }
    .h2{
        font-size: 3rem;
        padding: 10% 0%;
    }
    .presentation__video{
        padding: 30px 0px;
    }
    .video{
        width: 70vw;
    }
}
/*MOBILE CELPHONE END*/





